

.mat-form-field{
    font-size: 20;
	float: right;
  background-size: 24px;
  width: 500px;
  border: 10px solid #1C6EA4;
  border-radius: 40px;
  padding: 10px 10px 10px 30px;
  outline: none;
  margin: 50px;


}