<!-- LOGO-->
<br>
<br>
<br>
<br>
<img class="img"
     src="assets/images/polilogo.png" 
        alt=""
        height="150">


<!-- BARRA BUSCADOR-->
<mat-form-field>
        <mat-label>Busca tu Pokemon</mat-label>        
        <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<h1>LA MEJOR BIBLIOTECA DE POKEMONES</h1>
<hr>

<!--TABLA GENERAL-->
<div class="principalDiv">

    <table mat-table [dataSource]="dataSource">

<!--COLUMNA del nro de pokemon-->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Posición </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

<!--COLUMNA de la IMAGEN-->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Imagen </th>
            <td mat-cell *matCellDef="let element">
                <img src="{{element.image}}" alt="pokemon" width="100" height="100">
            </td>
        </ng-container>
<!--COLUMNA del NOMBRE -->
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

<!--NOMBRE DE LA COLUMNA-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRow(row)"></tr>

<!-- Mensaje para cuando no encuentra ninguna coincidencia -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">no encontramos un pokemon con el nombre "{{input.value}}"</td>
        </tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>

<br>

<!-- esta es la segunda forma en que esta mostrando los pokemon -->


<div class="container">
    <div class="row">
      <div class="col-xs-2 text-center" *ngFor="let pokemon of data">
        <button type="button" class="btn btn-primary">
            <h4>{{pokemon.position}}</h4><img src="{{pokemon?.image}}" alt=""> 
                <h2>{{pokemon.name}}</h2>
        </button>
      </div>
    </div>
</div>