@import "../../../assets/styles/variables.scss"

mg:hover{
    cursor: pointer;
}
.mat-toolbar {
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1C6EA4;
    color: white;
    font-weight: 600;
  }

  img:hover{
      cursor: pointer;
  }

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.transformed{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
