@import "../../../assets/styles/variables.scss"

mg:hover{
    cursor: pointer;
}
.mat-toolbar {
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $blue;
    color: $white;
    font-weight: 600;
  }

  img:hover{
      cursor: pointer;
  }