@import "../../../assets/styles/variables.scss";

.card {
    width: 300%;
    margin: auto;
    margin-top: 70px;
    background-color: #1C6EA4;
    border: 40px solid #efc03e;
    border-radius: 80px;
    
}
.header-image {
    background-size: cover;
}
.mat-card-header {
    background-color: #efc03e;
    padding-top: 10px;
    border-radius: 10px;
}
.mat-card-title{
    text-transform: uppercase;
    color: black;
}
.mat-card-subtitle{
    color: black;
}
div{
    background-color: #1C6EA4;
    width: 500px;
    height:"200";
    margin: auto;
    border-radius: 15px;
}
.grid{
    display: block;
    margin: auto;
}
.grid > td{
    background-color: #1ca455;
    grid-template-columns: 2fr;
}
.image{
    alt:"";
    display: block;
    margin: auto;
    widows: 80px;
    height: 300px;
}
.image2{
    height: 120px;
    display: block;
    margin: auto;
}
