@import "../../../assets/styles/variables.scss";

.card {
    width: 300%;
    margin: auto;
    margin-top: 70px;
    background-color: #1C6EA4;
    border: 40px solid #efc03e;
    border-radius: 80px;
}
.header-image {
    background-size: cover;
    padding-top: 5px;
}
.mat-card-header {
    background-color: #efc03e;
    padding-top: 10px;
    padding: 5px;
    border-radius: 10px;
}
.mat-card-title{
    text-transform: uppercase;
    color: black;
    padding-top: 5px;
   }
.mat-card-subtitle{
    color: black;
    padding-top: 3px;
}
.mat-card-content{
    padding-left: 15px;
    box-shadow:inset 0px 2px 0px 0px #efc03e;
}
div{
    background-color: #1C6EA4;
    width: 450px;
    height:"200";
    margin: auto;
    border-radius: 15px;
}
.grid{
    display: block;
    margin: auto;
    padding-right: 10px;
}
.grid > td{
    background-color: #1ca455;
    grid-template-columns: 2fr;
}
.image{
    alt:"";
    display: block;
    margin: 30px;
    widows: 80px;
    height: 300px;
}
.image2{
    height: 120px;
    display: block;
    margin: auto;
}
