<br>
<br>
<br>
<a 
class="watermark">
<img src="assets/images/banner6.png" aling="center" alt="" height="400">
</a>

<link rel="stylesheet" href="card.component.css">
<mat-card class="card">
<div>
  <mat-card-header>
      <img mat-card-avatar class="header-image" src="{{pokemonart}}">
      <mat-card-title>Nº{{pokemon.id}} / {{pokemon.name}}</mat-card-title>
      <mat-card-subtitle>Tipo: {{pokemontype}} {{pokemontype2}}</mat-card-subtitle>
      
  </mat-card-header>
  <div>
    <div class="grid">
    <tr>
      <td>
        <img class="image" src="{{pokemonart}}">
      </td>
    </tr>
    <tr>
      <td>
        <br>
        <img class="image2" src="{{pokemonimg}}">
      </td>
      <td>
        <br>
        <img class="image2" src="{{pokemonback}}">
      </td>
    </tr>
    </div>
  </div>
    <mat-card-content>
      <mat-chip-list class="grid-chip">
        <mat-chip color="primary">Ataque: {{pokemonstats2}}</mat-chip>
        <mat-chip color="primary">Ataque Especial: {{pokemonstats4}}</mat-chip>
        <mat-chip color="primary">Velocidad : {{pokemonstats6}}</mat-chip>
        <mat-chip color="primary">Defensa: {{pokemonstats3}}</mat-chip>
        <mat-chip color="primary">Defensa Especial : {{pokemonstats5}}</mat-chip>
        <mat-chip color="primary">HP: {{pokemonstats1}}</mat-chip>
        <mat-chip color="primary">Altura: {{pokemon.height}} pies</mat-chip>
        <mat-chip color="primary">Peso: {{pokemon.weight}}</mat-chip>
        <mat-chip color="primary">Nivel Experiencia: {{pokemon.base_experience}}</mat-chip>
        <!-- <mat-chip color="primary">Otro: {{pokemon.movename}}</mat-chip> -->
      </mat-chip-list>
    </mat-card-content>
</div>
</mat-card>
