<br>
<br>
<br>
<br>
<br> 
<h2>Aplicaciones y Recursos</h2>
<br>
<br>
   
<p>
    Como informacion inicial, teniamos el backend, este se encuentra desplegado en un api REST que podiamos consumir; el API lo encontramos en la ruta <a href="https://pokeapi.co/" target="_blank">https://pokeapi.co/</a> y se puede encontrar la documentación del mismo en el siguiente enlace <a href="https://pokeapi.co/docs/v2" target="_blank">https://pokeapi.co/docs/v2</a>.
    <br>
    <br>
    El lugar donde guardamos el repositorio que empleamos para este proyecto fue en GitHub. Aqui encontramos la mejor manera para trabajar en equipo, hacer ajustes y que estos se vean reflejados en tiempo real. Para el desarrollo del App utilizamos Angular, el cual hace referencia a un Framework de Javascript, adicionalmente empleamos librerias como Bootstrap, Jquery, Popper para agregar estilos y funcionalidades a nuestro proyecto. El codigo fue creado en el editor Visual Studio Code, lo que nos facilito la sincronizacion con GitHub.
</p>
    <br>
    <br>
    <br>
    <div class="cont-programas">
    <div class="programas">
        <a href="https://github.com/" target="_blank">
            <img src="../../../assets/images/GIT.png" alt="GitHub" title="GitHub">  
        </a>
        <a href="https://angular.io/" target="_blank">
            <img src="../../../assets/images/ANGULAR.png" alt="Angular" title="Angular">
        </a>
        <a href="https://code.visualstudio.com/" target="_blank">
            <img src="../../../assets/images/VISUAL.png" alt="Visual Studio" title="VS Code">
        </a>
      </div> 
    </div>   
