h1 {
    font-family: garamond;
    font-size: 200%;
    text-align: center;
  }
h2 {
    font-family: "Yusei Magic";
    font-size: 300%;
    font-weight: 900;
    text-align: center;
  }

h3 {
  font-family: fantasy;
  
}
.container{
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
table {
  min-width: 70%;
  margin: auto;
 }

.mat-cell:first-letter {
  text-transform: uppercase;
}
img {
  float: center;
    }
.container-fluid{
    text-align: center;
}

.about-info{
  width: 100%;
}
p{
  width: 100%;
    margin-top: 10px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-family:Arial, Helvetica, sans-serif;
}