<br>
<br>
<br>
<br>
<div class="info-about">
<h1>Pokemon API</h1>
<h2>Proyecto FrontEnd</h2>
<h1><p> El mejor catalogo Poke-Api de la Web</p></h1>
</div>
<hr>
<hr>
<div class="container-fluid">
  <div class="row"> 
    <div class="col-md-4 col-lg-4"><img src="../../../assets/images/team-4.jpg" alt="" width="200" height="200" class="au-mb-3">
      <h3>Carlos Andres Velez</h3>
      <p >Estudiante Ing. Software</p>
      <p >Codigo 1911020943.</p><a href="#0" class="ae-u-bolder au-underline">cavelez2@poligran.edu.co</a>
    </div>
    <div class="col-md-4 col-lg-4"><img src="assets/images/team-1.jpg" alt="" width="200" height="200" class="au-mb-3">
      <h3> Eider Giovanni Velez B</h3>
      <p> Arquitecto de Software Junior</p>
      <p> Código 1811024169.</p>
      <a href="mailto:eivelezb@poligran.edu.co" class="ae-u-bolder au-underline" target="_blank">eivelezb@poligran.edu.co</a>
    </div>
    <div class="col-md-4 col-lg-4"><img src="assets/images/team-3.jpg" alt="" width="200" height="200" class="au-mb-3">
      <h3>Javier Orlando Rincón H</h3>
      <p>Estudiante Ing. Software </p>
      <p >Codigo 100219950.</p><a href="mailto:jarincon15@poligra.edu.co" class="ae-u-bolder au-underline" target="_blank">jarincon15@poligran.edu.co</a>
    </div>
  </div>
  <hr>
  <hr>
  <br>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h2 class="ae-u-bolder">Introducción</h2>
      <br>
      <p>En el presente trabajo, realizaremos un desarrollo web con énfasis en el diseño Front-end que permitirá traer datos de una Interfaz de Programación de Aplicaciones (API application programming interface) por medio de consumo de servicios y que tiene como fin implementar todos los conceptos en la aplicación Angular.</p>
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <br>
      <br>
      <br>
      <h2 class="ae-u-boldest">Avances</h2>
      <br>
      <p class="au-lh-3">En estas semanas de trabajo en Angular, realizamos la creación del repositorio y aprendimos el manejo de Git.
        La creación del proyecto la compartimos y la trabajamos con Visual Studio Code, en donde introducimos TypeScript, HTML, CSS.
        Realizamos la creación de los componentes y maquetamos la vista y elementos, para saber la estructura que llevaría el diseño de la pagina.
        Aprender a prueba y error el manejo de Angular fue complejo para todos, hay muchas etiquetas y comandos; al desarrollar es común que lo que no se visualice lo que digitamos, el desconocimiento de los recursos que contiene la plataforma nos llevo a consultar muchos mas fuentes de información.
        . </p>
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <br>
      <br>
      <br>
      <h2 class="ae-u-boldest">Entrega Final</h2>
      <br>
      <p class="au-lh-3">
        Se cumple con el objetivo principal, se genero un catalogo web de los pokemón. Este cumple con los requisitos planteados inicialmente, se emplearon herramientas Angular, TypeScript, HTML y CSS. Se hace el consumo del API REST de acuerdo a la informacion solicitada; el consumo de API se evidencia en la muestra de cada Pokemón en la web, su informacion a traves de una tarjeta (Card), se creo una caja de busqueda que nos arroja la informacion escrita, en caso de esta ser mal digitada nos arroja un aviso de "No se encontro el Pokemon (Valor Digitado)". Logramos crear varias paginas dentro del App y enlazar una con otra de tal manera la pagina Web fuera amigable con el cliente o usuario final.
        <br> 
        <br>
        Los tiempos de ejecucion del cronograma no fue cumplido a cabalidad debido a la no participacion del agunos compañeros, lo que llevo a hacer algunos ajustes de ultimo momento. Sin embargo los estudiantes que integramos el grupo y trabajamos en el desarrollo del proyecto, dividimos las tareas para dar cumplimiento a las actividades dentro de los tiempos de cada Entrega (1, 2 y 3). Logramos coordinar horarios de trabajo para hacer pruebas, ajustes y los videos requeridos. 
        <br>

      </p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <p class="rk-footer__text rk-footer__by">
      Hecho con amor y desarrollado con <a href="https://angular.io/" class="ae-u-bolder" target="_blank">Angular.</a>
  </p>
  <img src="assets/images/ANGULAR.png" aling="center" alt="" height="50">
  
  