<br>
<br>
<br>
<br>



<img class="img" src="assets/images/pokedex.png" alt="" height="100">
<h1>Pokemon API</h1>
<h2>Proyecto FrontEnd</h2>
<h1><p> El mejor Catalogo Poke-Api de la WEB</p></h1>

<div class="container">
 
    <div class="col-xs-2 text-center">
  
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/images/team-1.jpg" alt="" width="150" height="150" class="au-mb-3">
      <h3 class="ae-u-bolder au-mt-2">Eider Giovanni Velez B</h3>
      <p class="ae-u-bolder au-mb-3">Arquitecto de Software</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Código 1811024169.</p><a href="#0" class="ae-u-bolder au-underline">eivelezb@poligran.edu.co</a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/images/team-2.jpg" alt="" width="150" height="150" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Javier Rincon</h5>
      <p class="ae-u-bolder au-mb-3">Ingeniero de Software</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Codigo 00000000.</p><a href="#0" class="ae-u-bolder au-underline">@javier.rincon</a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/images/team-3.jpg" alt="" width="150" height="150" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Luis Vasquez</h5>
      <p class="ae-u-bolder au-mb-3">Ingeniero de Software</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Codigo 111111111.</p><a href="#0" class="ae-u-bolder au-underline">@Luis.vasquez</a>
    </div>
  </div>
  <hr>
  <hr>
  <br>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h2 class="ae-u-bolder">Introduccion</h2>
      <p>En el presente trabajo, realizaremos un desarrollo web con énfasis en el diseño Front-end que permitirá traer datos de una Interfaz de Programación de Aplicaciones (API application programming interface) por medio de consumo de servicios y que tiene como fin implementar todos los conceptos en la aplicación Angular.</p>
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <h2 class="ae-u-boldest">Avances</h2>
      <p class="au-lh-3">En estas semanas de trabajo en Angular, realizamos la creación del repositorio y aprendimos el manejo de Git.
        La creación del proyecto la compartimos y la trabajamos con Visual Studio Code, en donde introducimos TypeScript, HTML, CSS.
        Realizamos la creación de los componentes y maquetamos la vista y elementos, para saber la estructura que llevaría el diseño de la pagina.
        Aprender a prueba y error el manejo de Angular fue complejo para todos, hay muchas etiquetas y comandos; al desarrollar es común que lo que no se visualice lo que digitamos, el desconocimiento de los recursos que contiene la plataforma nos llevo a consultar muchos mas fuentes de información.
        . </p>
    </div>
    
  
