<br>
<br>
<br>
<br>

<img class="img" src="assets/images/polilogo.png" alt="" height="100">
  <img src="assets/images/26.svg" align="right" alt="" height="150">


<h1>Pokemon API</h1>
<h2>Proyecto FrontEnd</h2>
<h1><p> El mejor Catalogo Poke-Api de la WEB</p></h1>
<hr>
<hr>
<p>Mirar por que en chrome no toma el tipo de letra Fantasy</p>
<br>

<div class="container-fluid">
  <div class="row"> 
    
    <div class="col-md-4 col-lg-4"><img src="assets/images/team-2.jpg" alt="" width="150" height="150" class="au-mb-3">
      <h5>Paco Perez</h5>
      <p >Ingeniero de Software</p>
      <p >Codigo 00000000.</p><a href="#0" class="ae-u-bolder au-underline">@pacoperez</a>
    </div>
    <div class="col-md-4 col-lg-4"><img src="assets/images/team-1.jpg" alt="" width="200" height="200" class="au-mb-3">
      <h3> Eider Giovanni Velez B</h3>
      <p> Arquitecto de Software</p>
      <p> Código 1811024169.</p>
      <a href="eivelezb@poligran.edu.co" class="ae-u-bolder au-underline">eivelezb@poligran.edu.co</a>
    </div>
    <div class="col-md-4 col-lg-4"><img src="assets/images/team-3.jpg" alt="" width="200" height="200" class="au-mb-3">
      <h3>Javier Orlando Rincón H</h3>
      <p >Estudiante Ing. Software</p>
      <p >Codigo PENDIENTE</p><a href="#0" class="ae-u-bolder au-underline">jarincon15@poligran.edu.co</a>
    </div>
  </div>
  <hr>
  <hr>
  <br>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h2 class="ae-u-bolder">Introducción</h2>
      <br>
      <p>En el presente trabajo, realizaremos un desarrollo web con énfasis en el diseño Front-end que permitirá traer datos de una Interfaz de Programación de Aplicaciones (API application programming interface) por medio de consumo de servicios y que tiene como fin implementar todos los conceptos en la aplicación Angular.</p>
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <br>
      <br>
      <br>
      <h2 class="ae-u-boldest">Avances</h2>
      <br>
      <p class="au-lh-3">En estas semanas de trabajo en Angular, realizamos la creación del repositorio y aprendimos el manejo de Git.
        La creación del proyecto la compartimos y la trabajamos con Visual Studio Code, en donde introducimos TypeScript, HTML, CSS.
        Realizamos la creación de los componentes y maquetamos la vista y elementos, para saber la estructura que llevaría el diseño de la pagina.
        Aprender a prueba y error el manejo de Angular fue complejo para todos, hay muchas etiquetas y comandos; al desarrollar es común que lo que no se visualice lo que digitamos, el desconocimiento de los recursos que contiene la plataforma nos llevo a consultar muchos mas fuentes de información.
        . </p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <hr>
  <h3> INSTITUCION UNIVERSITARIA POLITÉCNICO GRANCOLOMBIANO</h3>
  <h3>FACULTAD DE INGENIERÍA, DISEÑO E INNOVACION</h3>
  <h3>DEPARTAMENTO DE CIENCIAS BASICAS</h3>
  <h3>INGENIERIA DEL SOFTWARE</h3>
  <h3>Trabajo Colaborativo</h3>
  <h3>FrontEnd</h3>
  <br>
  <br>
  <br>
  
  <p class="rk-footer__text rk-footer__by">
      Hecho con amor y desarrollado con <a href="https://angular.io/" class="ae-u-bolder" target="_blank">Angular.</a>
  </p>
  