<br>
<br>
<br>
<br>
<div class="principalDiv">

    <div class="container">
        <div class="row">
          <tr mat-row (click)="getRow(row)"></tr>
          <div class="col-xs-2 text-center" *ngFor="let pokemon of data">
            <button type="botton" class="btn btn-primary">
                <h4>Nº {{pokemon.position}}</h4><img src="{{pokemon?.image}}" alt=""> 
                <p>
                <button type="botton" class="btn-btn-sec"><h4>{{pokemon.name}}</h4></button>
                
            </button>
          </div>
        </div>
    </div>
    
    <p class="rk-footer__text rk-footer__by">
      Hecho con amor y desarrollado con <a href="https://angular.io/" class="ae-u-bolder" target="_blank">Angular.</a>
    </p>
