<br>
<br>
<br>
<br>

<div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h1 class="ae-u-bolder">Información del Proyecto</h1>
      <br>
      <h2 class="ae-u-bolder">Pokemón App</h2>
      <br>
      <p>
        Usted ha sido contratado por una empresa de entretenimiento que quiere generar un catálogo de los pokemon, su función principal es realizar el front-end en Angular de una aplicación que muestra toda la información de los Pokemon. La empresa le suministrara una solución de backend, el cual dispone un api REST para consultar la información contenida sobre los pokemon (pokemon, tipos, habilidades, etc…).
        <br>
        <br>
        Se requiere que usted haga una exploración del api REST que entrega la empresa(PokeAPi), y proponga una forma organizada de presentar esta información para sus usuarios finales en la aplicación WEB, la compañía requiere que adicional a mostrar la información sobre los pokemon, la aplicación pueda permitir la búsqueda por nombre de pokemon.
        <br>
      </p>
    </div>
  </div>
<br>
<br>
<br>
  <p class="rk-footer__text rk-footer__by">
    Hecho con amor y desarrollado con <a href="https://angular.io/" class="ae-u-bolder" target="_blank">Angular.</a>
</p>
