@font-face {
  font-family: Pokemon;
  src: url(/assets/fonts/Pokemon2.ttf) format("opentype");
}
@font-face {
  font-family: Coffee;
  src: url(/assets/fonts/Coffee.ttf) format("opentype");
}
h1 {
    font-family: "Pokemon";
    font-size: 500%;
    text-align: center;
    color:rgb(207, 29, 29);
    text-shadow:1px 4px 1px #80aad8;
      }
h3 {
    font-family: "Coffee";
    font-size: 200%;
    font-weight: 900;
    text-align: center;
  }
img {
        float: center;
    }

      .btn {
        box-shadow:inset 0px 2px 0px 0px #bee2f9;
        background:linear-gradient(to bottom,#63b8ee 5%, #468ccf 100%);
        background-color:#63b8ee;
        border-radius:20px;
        border:1px solid #3866a3;
        display:inline-block;
        cursor:pointer;
        color:#14396a;
        font-family:Arial;
        font-size:30px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #7cacde;
        margin: 20px;
        
    }
.bievenida {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
}

.img-home {
  background: white;
  text-align: center;
  padding: auto;
  transition:all .5s ease-in-out;
}
p{
  font-family: "Coffee";
  color: #14396a ;
}
.section{
  padding-top: 10px;
}