<head>
    <style>
      div {
        padding: 50px 10px;
        background-color: #1C6EA4;
      }
    </style>
</head>
  <body>
   <hr>
   <hr>
   <hr>
    <div class="bienvenida">
      <h1>POKEMÓN</h1>
      <br>
      <br>
      <h3>Guia Visual</h3>
    </div>
</body>
<section>
    <div class="img-home">
    <button type="button" class="btn btn-primary">
      <a routerLink="filters" class="rk-menu_link" style="text-decoration: none;">
      <img src="assets/images/wallpaper1.jpg" alt="" height="200">
      <p>Inicio</p>
    </a>
    </button>
    <br>
    <button type="button" class="btn btn-primary">
      <a routerLink="item" class="rk-menu_link" style="text-decoration: none;">
        <img src="assets/images/wallpaper2.jpg" alt="" height="150"> 
        <p>Busca tu Pokemón</p>
        </a>
    </button>
    <br>
    </div>
</section>  
  
<!-- <img class="img" src="assets/images/wallpaper2.jpg" alt="" height="100" (click)=home()> -->
<!-- <img class="img" src="assets/images/wallpaper1.jpg" alt="" height="100" (click)=home()> -->

