<head>
    <style>
      div {
        padding: 230px 10px;
        background-color: #1C6EA4;
      }
    </style>
</head>
  <body>
    <i class="rk-container"></i>
    <nav class="rk-navigation">
      <ul class="rk-menu">
        
         <li routerLinkActive="active" class="rk-menu__item">
          <a routerLink="about" class="rk-menu__link">Acerca de...</a>
        </li>
        <li routerLinkActive="active"  class="rk-menu__item">
          <a routerLink="item" class="rk-menu__link">Todos los Pokemones</a>
        </li>
      </ul>
    </nav>
    <div>
      <h1>POKEMON</h1>
      <br>
      <H2>Guia Visual</H2>
    </div>
  </body>
  <br>
  <br>
  <br>
  <br>
  
<img class="img" src="assets/images/wallpaper2.jpg" alt="" height="100" (click)=home()>

<button type="button" class="btn btn-primary">
    <img src="assets/images/wallpaper2.jpg" alt="" height="150"> 
</button>

<button type="button" class="btn btn-primary">
  <img src="assets/images/wallpaper1.jpg" alt="" height="200"> 
</button>

<img class="img" src="assets/images/wallpaper1.jpg" alt="" height="100" (click)=home()>

