<br><br><br><br><br><br><br><br>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-3">
              <h4>
                <p align="lef">Acerca de</p>
                <p align="lef">Mas Informacion</p>
                <p align="lef">Suscribete</p>
                </h4>
            </div>
            <div class="col-md-3 col-lg-3">
              <h4>
                <p align="lef">Pokemon Master</p>
                <p align="lef">Pokemones</p>
                <p align="lef">Evoluciona tu Pokemon</p>
              </h4>
            </div>
            <div class="col-md-3 col-lg-3">
              <h4>
                <p align="lef">Compras</p>
                <p align="lef">Envios Nacionales</p>
                <p align="lef">Rastrea tu Pedido</p>
              </h4>
            </div>
            <div class="col-md-3 col-lg-3">
              <h4>
                <p align="lef">Centro de Ayuda</p>
                <p align="lef">Terminos y Condiciones</p>
                <p align="lef">Privacidad</p>
              </h4>
            </div>        
        </div>
        <div class="footer" style="text-align: center;">
        <h4>Encuentranos en:</h4>
        <a href="https://github.com/giokey-gv/pokepoliapi/commits">
        <img src="../../../assets/images/icono-github.jpg" alt="">
      </a>
      <a href="https://www.microsoft.com/es-co/microsoft-teams/group-chat-software">
        <img src="../../../assets/images/logo.teams.png" alt="">
      </a>
      <a href="https://es-la.facebook.com/">
        <img src="../../../assets/images/facebook_logo.png" alt="">
      </a>
      </div>
        <h5>
            <p align="center">TODOS LOS DERECHOS RESERVADOS</p>
            <p align="center">Enero 2021</p>
        </h5>
    </div>
    </footer>
