<br><br><br><br><br><br>

<footer>

  <div class="footer-containter">
    <div class="footer-main">
      <div class="footer-columna">
        <nav class="rk-navigation">
          <h3><a routerLink="about" class="rk-menu_link" style="text-decoration: none;">Acerca de..</a></h3>
        </nav>
        <h3><a routerLink="acerca_de" class="rk-menu_link" style="text-decoration: none;"> Informacion Institucional</a></h3>
      </div>

      <div class="footer-columna">
        <h3><a routerLink="item" class="rk-menu_link" style="text-decoration: none;">Todos los Pokemones</a></h3>
        <h3> <a routerLink="searchpokemon"> Como Buscar tu Pokemón</a></h3>
      </div>

      <div class="footer-columna">
        <h3><a href="#" style="text-decoration: none;">Inicio</a></h3>

        <h3><a routerLink="aplicacionesyrecursos"> Aplicaciones y Recursos</a></h3>
      </div>
    </div>
  </div>

  <div class="footer-copy-redes">
    <div class="main-copy-redes">
      <div class="footer-copy">
        &copy; 2021, Todos los derechos reservados | FRONT END |.
      </div>
      <div class="footer-redes">
        <a href="https://github.com/giokey-gv/pokepoliapi/commits" target="_blank">
          <img src="../../../assets/images/GITHUB.png" alt="GitHub" title="GitHub">
        </a>

        <a href="https://twitter.com/PokeAPI" target="_blank">
          <img src="../../../assets/images/TWITTER.png" alt="Twitter" title="Twitter">
        </a>

        <a href="https://www.youtube.com/watch?v=_ap6iuoek4k" target="_blank">
          <img src="../../../assets/images/YOUTUBE.png" alt="YouTube" title="YouTube">
        </a>
      </div>
    </div>
  </div>
</footer>