<br><br><br><br><br><br><br><br><br><br><br>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-4">
              <h4>
                <p align="center" style="color:indigo; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Acerca de</p>
                <p align="center" style="color:indigo; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Mas Informacion</p>
                </h4>
            </div>
            <div class="col-md-4 col-lg-4">
              <h4>
                <p align="center" style="color:indigo; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Pokemons Master</p>
                <p align="center" style="color:indigo; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Pokemones</p>
                <p align="center" style="color:indigo; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Encuentra tu Pokemon</p>
              </h4>
            </div>
            <div class="col-md-4 col-lg-4">
              <h4>
                <p align="center" style="color:indigo; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Terminos y Condiciones</p>
                <p align="center" style="color:indigo; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Privacidad</p>
              </h4>
            </div>        
        </div>
        <div class="footer" style="text-align: center;">
        <br>
        <h4 style="color:indigo; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" >Encuentranos en:</h4>
        <a href="https://github.com/giokey-gv/pokepoliapi/commits">
        <img src="../../../assets/images/icono-github.jpg" alt="">
      </a>
      <a href="https://www.microsoft.com/es-co/microsoft-teams/group-chat-software">
        <img src="../../../assets/images/logo.teams.png" alt="">
      </a>
      <a href="https://es-la.facebook.com/">
        <img src="../../../assets/images/facebook_logo.png" alt="">
      </a>
      </div>
      <br>
        <h5>
            <p align="center" style="color:indigo;">TODOS LOS DERECHOS RESERVADOS</p>
            <p align="center" style="color:indigo;">Enero 2021</p>
        </h5>
    </div>
    </footer>
